#grid {
  display: grid;
  place-items: center;
}



img#grid {
  display: grid;
  place-items: center;
}

section#featured-property{
  display: grid;
  place-items: center;
}

p#property{
  display: grid;
  place-items: center;
}